body {
 font: 15px/1.5 'Open Sans', sans-serif;
 margin: 0 0;
 color: #303338;
 background: #fff;
}
@media screen and (min-width: 660px) {
body {
 margin: 2em 0;
 background: #f0efe7;
}}

.container {
 background-color: #fff;
 max-width: 600px;
 margin: 0 auto;
 padding: 0.5em;
}
@media screen and (min-width: 660px) {
.container {
 border: solid 1px #e3e1d9;
 border-radius: 6px;
 padding: 1em 1.6em;
}}

a { color: #04a; text-decoration: none; }
a:hover, a:focus { text-decoration: underline; }

h1, h2, h3, h4, h5, h6 {
 font-family: 'Garamond', 'Bitstream Charter', 'Georgia', serif;
 color: #555;
}

h1 { font-size: 250%; text-align: center; }
@media screen and (min-width: 480px) { h1 { font-size: 300%; }}

h2 { font-size: 150%; margin-bottom: 0.4em; font-weight: 500; }
@media screen and (min-width: 480px) { h2 { font-size: 180%; }}

h3 { font-size: 130%; margin-bottom: 0.4em; }

h1, h2, h3 { margin-bottom: 0; text-shadow: 1px 1px 1px #DDD;}

/* h4 is used for subtitle below h1 */
h4 { margin: 0; font-size: 17px; text-align: center; }

h1 span#p { position: relative; top: 4px;
            animation-duration: 0.3s; animation-name: pdown;
            animation-iteration-count: 2; animation-direction: alternate;}
@keyframes pdown { from { top: 4px; } to { top: -2px; } }

p, ul, ol, dl, table, pre, blockquote { margin: 0 0 1em; }
/* p strong { font-weight: normal; font-size: 120%; } */

ul, ol { padding-left: 1.0em; }
@media screen and (min-width: 480px) { ul, ol { padding-left: 1.2em; }}

pre, code {
 font-family: 'Consolas', 'Menlo', 'Deja Vu Sans Mono', 'Bitstream Vera Sans Mono', monospace;
 background-color: #feb;
 color: #544;
 font-size: 95%;
}
pre { padding: .5em 1em; }
code { padding: .1em .25em; }

.container img, .container iframe { max-width: 100%; }
.container img { margin: 0 auto; }

#footer { padding-top: 1em; text-align: center; font-size: 80%; }
